.update-password {
  display: flex;
  justify-content: center;
  padding-top: 7rem;

  &__panel {
    width: 30rem;

    h2 {
      margin-bottom: 3rem;
    }
  }

  &__input {
    margin-bottom: 1rem;
  }

  &__submit-button {
    margin-top: 1rem;
    width: 20rem;
  }
}
