.select{
  width: 25rem;
  border: 1px solid #d4d4d4;
  border-radius: 0.5rem;
  box-sizing: border-box;
  background-color: #ffffff;

  &__container {
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
  }

  &__label {
    font-size: small;
    border-bottom: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
    padding: 0.2rem 1rem;

    &.required {
      font-weight: bold;
    }
  }

  &__value {
    box-sizing: border-box;
    width: 100%;
    border: none;
    padding: 0.5rem;
    height: 2rem;
    outline: none;
    display: flex;
    justify-content: space-between;
  }

  &__expand-button {


    img {
      width: 1rem;
      height: 100%;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__suggestion {
    border-top: 1px solid #d4d4d4;
    padding: 0.5rem 1rem;

    &:hover {
      font-weight: bold;
      cursor: pointer;
    }
  }

}
